<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户须知</title>
    <script src="/static/jquery-3.3.1.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/registration.css"  />
</head>

<body>
    <div id="zc_main" class="">
<!--        <em>用户须知</em>-->

        <div id="zc_title" class="cen">
            <em>报名协议 &amp; 诚信承诺书</em>
        </div>

        <div id="zc_main_room">
            <h1 style="padding-bottom:0.5em;">报名协议</h1>
            1. 本报名网站的所有权归教育部教育考试院所有，考生须完全同意本协议条款，方可进行网上报名。<br>
            2. 本人已认真阅读并同意遵守本网站提供的报名流程及考生须知。<br>
            3. 考生本人理解并同意，报考资格须符合考点相关规定，经审查通过后方可报考。<br>
            4. 本人保证报名时的个人信息资料真实、正确，并将对个人信息不真实或不正确而导致无法参加考试以及其它直接或间接的后果自行负责。<br>
            5. 本人理解并同意，在报名过程中出现不可抗力所引起的无法正常报名的情况，本网站不承担任何直接或间接的责任。<br>
            6. 本人理解并同意，网上支付系统由支付平台所有并运营，在付费过程中由于支付平台网上系统问题导致的任何异常情况，本网站不承担直接或间接责任。<br>
            7. 本人理解并同意，在报名成功后，因本网站系统出现问题或其他不可抗力因素影响考生参加考试，本网站所负责任范围仅限于帮助考生安排重新报名或全额按支付原路退还报名费，不承担任何其它责任。<br>
            8. 本人理解并同意，考生最终参加考试的考点和时间以考生领取的准考证上注明的考点和时间为准。<br>
            9. 本报名网站所收集的考生个人信息数据仅用于全国大学英语四、六级考试报名，考生同意教育部教育考试院根据考试需要获知、处理、存储、使用本人信息数据。<br>
            10. 本人已阅读并且理解全国大学英语四、六级考试的有关规定和纪律要求，应在考试中自觉遵守相关规定，保证按规定的程序和要求参加考试，不违规，不作弊。如有违反，同意按《国家教育考试违规处理办法》及其他相关规定接受处理。
            <br>
            11. 本人已知晓，成绩发布后的规定时间，可在 <a href="{{url_for('home')}}">网站主页</a> 查看并下载电子成绩报告单（小语种科目为电子证书），电子成绩报告单与纸质成绩报告单同等效力。<br>
            12.
            本人已知晓，报名期间或成绩发布后规定时间内登录本网站，自助选择是否需要纸质成绩报告单（小语种科目为证书）。选择纸质成绩报告单（小语种科目为证书），应按考点规定时间及地点免费领取，超过半年未领取的，视为自动放弃，不再补发。<br>
            13．本人理解并同意，在报名成功后，由于考生个人原因无法参加考试，由考生个人承担相关责任，本网站不进行退费。<br>
            <hr>
            <h1 style="padding-bottom:0.5em;">诚信承诺书</h1>
            本人自愿参加全国大学英语四、六级考试，现郑重承诺：<br>
            一、本人已阅读并且透彻地理解了全国大学英语四、六级考试的有关规定和纪律要求，愿意在考试中自觉遵守这些规定，保证按规定的程序和要求参加考试，如有违反，自愿按《国家教育考试违规处理办法》有关条款接受处理。<br>
            二、本人坚决遵守全国大学英语四、六级考试有关报名规定，不弄虚作假，不伪造、使用假证明、假证书。如有违反，自愿按规定接受处理。<br>
            三、本人坚决服从考场工作人员和监考教师管理，自觉遵守考试纪律，考试诚实守信，不违规，不作弊。<br>
            四、本人报名时所提供的个人信息是真实、准确、完整的，如因个人信息错误、失真、缺失造成不良后果，责任由本人承担。<br>

        </div>

        <div class="zc_goux md-checkbox-inline">
            <div class="md-checkbox" style="margin:0px;" title="如勾选按钮无法点击，说明浏览器不兼容，请使用首页推荐浏览器">
                <input id="chkAssure" class="md-check" type="checkbox" autocomplete="off">
                <label for="chkAssure">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span>
                </label>
            </div>
            <span class="r" style="padding: 0 10px 0 0;">*</span><span style="font-size:17px;">我已阅读并接受遵守本网站
                <!-- <a style="color: #0097ff;"
                    href="https://resource.neea.edu.cn/project/Passport/PublicInfo/CETNCREPETSServicesAgreement.pdf"
                    target="_blank">《用户服务协议》</a>
                <a style="color: #0097ff;"
                    href="https://resource.neea.edu.cn/project/Passport/PublicInfo/CETNCREPETSPrivacyPolicy.pdf"
                    target="_blank">《用户隐私政策》</a> -->
                报名协议及诚信承诺书
            </span>
        </div>

        <div align="center">
            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td width="50%" align="center">
                            <a href="{{url_for('student_page')}}" id="btnDisagree" class="zc_button" style="text-decoration:none;"
                                onclick="toQuit()">不同意</a>
                        </td>
                        <td width="50%" align="center">
                            <div id="divAgree" style="display:none;">
                                <a  href="{{url_for('registration')}}" id="btnAgree" class="zc_button" style="text-decoration:none;"
                                    onclick="toAgree()">同意</a>
                            </div>
                            <span id="spanAgree" class="zc_button">请勾选接受</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>

    </div>
    <script type="text/javascript">
        (function (window) {
            var theUA = window.navigator.userAgent.toLowerCase();  //判断用户当前使用的浏览器
            if ((theUA.match(/msie\s\d+/) && theUA.match(/msie\s\d+/)[0]) || (theUA.match(/trident\s?\d+/) && theUA.match(/trident\s?\d+/)[0])) {
                var ieVersion = theUA.match(/msie\s\d+/)[0].match(/\d+/)[0] || theUA.match(/trident\s?\d+/)[0];
                if (ieVersion < 9) {
                    $.messager.alert("提示", "当前浏览器版本过低，部分功能无法正常使用，请使用首页推荐的浏览器进行操作！", "warning");
                }
            }
        })(window)

        $(function () {
            if ($('#chkAssure').is(':checked')) {
                alert(1);
                $('#spanAgree').hide();
                $('#divAgree').show();
            }
            else {
                $('#spanAgree').show();
                $('#divAgree').hide();
            }
        });

        $('#chkAssure').click(function () {
            if ($('#chkAssure').is(':checked')) {
                $('#spanAgree').hide();
                $('#divAgree').show();
            }
            else {
                $('#spanAgree').show();
                $('#divAgree').hide();
            }
        });

        function toQuit() {
            $.messager.confirm('提示', '确认退出报名？', function (r) {
                if (r) {
                    $('#divAgree').hide();
                    $('#btnDisagree').hide();
                    location.href = '../logout';
                }
            });
        };
        function toAgree() {
            if (!$('#chkAssure').is(':checked')) {
                $.messager.alert('提示', '请先勾选“我已阅读并接受遵守本网站报名协议”！', 'warning');
                return;
            }
            $('#hiddenSign').val('1');
            $('#divAgree').removeAttr('onclick');
            $('#btnDisagree').removeAttr('onclick');
            $("#zcForm").submit();
            alert("提交");
        };
    </script>
</body>

</html>