<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>login</title>
    <link rel="stylesheet" href="/static/register.css">
</head>

<body>
    <div class="container">
        <div class="tit">注册</div>
        <form action="/register" method="post">
            <select name="type">
                <option value="student">学生用户</option>
                <option value="teacher">教师用户</option>
                <option value="Administrator">管理员用户</option>
            </select>
            <input type="text" placeholder="账号" name="account">
            <input type="password" placeholder="密码" name="passwd">
            <input type="password" placeholder="确认密码" name="check_passwd">
            <input type="text" placeholder="姓名" name="name">
            <button>注册</button>
            <span>已经注册<a href="{{url_for('login')}}">去登录</a></span>
        </form>
        
    </div>

    <div class="square">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="circle">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

</html>