<html>

<head>
    <title>Home Page——Project OTS</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
    <link rel="stylesheet" href="/static/exams.css" type="text/css">
    <link rel="stylesheet" href="../static/exams.css" type="text/css">
    <script src="/static/jquery-easyui-1.10.16/jquery.min.js"></script>
</head>

<body class="body">
    <!-- 左侧导航栏   -->
    <div class="cbl">
        <div class="cblcenter">
            <div class="sign">
                <em>教师主页</em>
            </div>
            <div class="nav_con">
                <a href="{{url_for('teacher_page')}}">个人信息</a>
                <a href="{{url_for('tea_publish')}}">题库管理</a>
                <a href="{{url_for('select_to_mark')}}">我的阅卷</a>
            </div>
        </div>
        <div class="copyright">©2023 南开大学 软件工程</div>
    </div>
    <div class="content">
        <a href="{{url_for('teacher_page')}}" id="back">&lt;</a>
        <div class="tittlebar">
            <span class="tittle">教师管理：选择进行批阅</span>
            <div class="line"></div>
        </div>

        <div class="questionbox">
            <div class="line"></div>
            <div class="list">
                <span class="column" style="width:200;">试卷名称</span>
                <span class="column" style="width:250;">说明</span>
                <span class="column" style="width:250;">报名人数</span>
                <span class="column" style="width:250;">操作</span>
            </div>
            {% for entry in all_paper %}
            <form class="list" id="题库管理*" action="/teacher/select_student" method="POST">
                <input type="text" name="试卷ID" id="{{entry.id}}" style="display: none;" value="{{entry.id}}">
                <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                    <input readonly="readonly" name="试卷名称" style="border:none;height:33px;width:200;"  value="{{entry.paper_name}}">
                </div>
                <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                    <input readonly="readonly" name="说明" style="border:none;height:33px;width:250;"  value="{{entry.paper_description}}">
                </div>
                <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                    <input readonly="readonly" name="报名人数" style="border:none;height:33px;width:250;"  value="{{entry.Answer_num}}">
                </div>
                <div class="column" style="width:250;">
                    <button  name="Update" class="operater" id="*" value="添加">查看学生</button>
                </div>
            </form>
            {% endfor %}
        </div>

    </div>



    <script>
        $(document).ready(function () {
            $(document).on("click", "button[id][name='operate']", function () {
                if ($(this).val() != "查看" && $(this).val() != "成绩") {
                    su = this;
                    $.post("/operate/{{managetool}}", $(this).parent().parent().serialize() + "&" + this.name + "=" + this.value, function (data, status) {
                        if ($(su).val() == "更新") {
                            $(su).parent().nextAll("#result").html(data);
                        }
                        else if ($(su).val() == "删除") {
                            $(su).parent().nextAll("#result").html(data);
                            if (data != "删除失败") {
                                ca = $(su).parent().parent()
                                ca.children().remove()
                                lll = setInterval(function () {
                                    if (ca.css("opacity") != 0) {
                                        ca.css("opacity", ca.css("opacity") - 0.1);
                                    }
                                    else if (ca.height() != 0) {
                                        ca.height(ca.height() - 1);
                                    }
                                    else {
                                        ca.remove();
                                        clearInterval(lll);
                                    }
                                }, 10);
                            };
                        }
                        else if ($(su).val() == "添加" || $(su).val() == "添加并开始") {
                            if (data != "添加失败") {
                                $('#insertxy').before(data);
                                $(su).parent().nextAll("#result").html("添加成功");
                            }
                            else { $(su).parent().nextAll("#result").html(data); };
                        }
                        else if ($(su).val() == "开始") {
                            if (data != "操作失败") {
                                $(su).html("结束");
                                $(su).val("结束");
                                $(su).parent().parent().find("[name='状态']").val("正在进行");
                            };
                            $(su).parent().nextAll("#result").html(data);
                        }
                        else if ($(su).val() == "结束") {
                            if (data != "操作失败") {
                                $(su).html("开始");
                                $(su).val("开始");
                                $(su).parent().parent().find("[name='状态']").val("已结束");
                            };
                            $(su).parent().nextAll("#result").html(data);
                        };
                    });
                }
                else {
                    // $(this).parent().parent().submit();
                };
            });
        });
    </script>
</body>

</html>