<html>

<head>
    <title>Home Page——Project OTS</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
    <link rel="stylesheet" href="/static/exams.css" type="text/css">
    <link rel="stylesheet" href="../static/exams.css" type="text/css">
    <script src="/static/jquery-easyui-1.10.16/jquery.min.js"></script>
</head>

<body class="body">
    <!-- 左侧导航栏   -->
    <div class="cbl">
        <div class="cblcenter">
            <div class="sign">
                <em>教师主页</em>
            </div>
            <div class="nav_con">
                <a href="#">个人信息</a>
                <a href="#">题库管理</a>
                <a href="{{url_for('select_to_mark')}}">我的阅卷</a>
            </div>
        </div>
        <div class="copyright">©2023 南开大学 软件工程</div>
    </div>
    <div class="content">
        <a href="{{url_for('teacher_page')}}" id="back">&lt;</a>
        <div class="tittlebar">
            <span class="tittle">教师管理：批阅学生试卷</span>
            <div class="line"></div>
        </div>
        <div class="questionbox">
            <label for="待批阅">待批阅</label>
            <!-- 答卷且未完成阅卷 -->
            <div class="line"></div>
            <div class="list">
                <span class="column" style="width:200;">学生姓名</span>
                <span class="column" style="width:250;">提交时间</span>
                <span class="column" style="width:250;">客观题得分</span>
                <span class="column" style="width:250;">操作</span>
            </div>
            {% for stu in already_answer %}
                {% if stu.total_score==0 %}
                    <form class="list" id="题库管理*" action="/teacher/mark_paper" method="POST">
                        <input type="text" name="试卷ID" style="display: none;" value="{{stu.paper_id}}">
                        <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                            <input readonly="readonly" name="学生姓名" style="border:none;height:33px;width:200;"  value="{{stu.name}}">
                        </div>
                        <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                            <input readonly="readonly" name="提交时间" style="border:none;height:33px;width:250;"  value="{{stu.time}}">
                        </div>
                        <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                            <input readonly="readonly" name="客观题得分" style="border:none;height:33px;width:250;"  value="{{stu.choice_score}}">
                        </div>
                        <div class="column" style="width:250;">
                            <button  name="Update" class="operater" id="*" value="添加">主观题批阅</button>
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
        <div class="questionbox">
            <label for="已批阅">已批阅</label>
            <!-- 答卷且已完成阅卷 -->
            <div class="line"></div>
            <div class="list">
                <span class="column" style="width:150;">学生姓名</span>
                <span class="column" style="width:200;">提交时间</span>
                <span class="column" style="width:100;">客观题得分</span>
                <span class="column" style="width:100;">主观题得分</span>
                <span class="column" style="width:100;">总分</span>
                <span class="column" style="width:150;">操作</span>
            </div>
            {% for stu in already_answer %}
                {% if stu.total_score!=0 %}
                    <form class="list" id="题库管理*" action="/teacher/select_student" method="POST">
                        <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                            <input readonly="readonly" name="学生姓名" style="border:none;height:33px;width:150;"  value="{{stu.name}}">
                        </div>
                        <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                            <input readonly="readonly" name="提交时间" style="border:none;height:33px;width:200;"  value="{{stu.time}}">
                        </div>
                        <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                            <input readonly="readonly" name="客观题得分" style="border:none;height:33px;width:100;"  value="{{stu.choice_score}}">
                        </div>
                        <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                            <input readonly="readonly" name="主观题得分" style="border:none;height:33px;width:100;"  value="{{stu.subject_score}}">
                        </div>
                        <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                            <input readonly="readonly" name="总分" style="border:none;height:33px;width:100;"  value="{{stu.total_score}}">
                        </div>
                        <div class="column" style="width:150;">
                            <button  name="Update" class="operater" id="*" value="添加">查看试卷</button>
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
        <div class="questionbox">
            <label for="未答题">未答题</label>
            <!-- 未答题 -->
            <div class="line"></div>
            <div class="list">
                <span class="column" style="width:200;">学生姓名</span>
            </div>
            {% for stu in not_answer %}
                    <form class="list" id="题库管理*" action="/teacher/select_student" method="POST">
                        <div class="column" style="padding-top:0px;padding-bottom:0px;height:34px;">
                            <input readonly="readonly" name="学生姓名" style="border:none;height:33px;width:200;"  value="{{stu}}">
                        </div>
                    </form>
            {% endfor %}
        </div>

    </div>



    
</body>

</html>