
<html>

<head>
    <title>Exam Page</title>
    <link rel="stylesheet" href="/static/exams.css" type="text/css" />
</head>

<body class="body">
    <div class="cbl">
        <div class="cblcenter">
            <div class="sign">
                学生主页
            </div>

            <div class="nav_con">
                <a href="#">个人信息</a>
                <a href="#">报名考试</a>
                <a href="#">我的考试</a>
                <a href="#">成绩查询</a>
            </div>

            </div>
            <div class="copyright">©2023 南开大学  软件工程</div>
        </div>
    </div>

    <div class="content">
        <div class="square">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="circle">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div><a href="/admin" id="management" style="display:none;">管理中心</a>
        <div class="tittlebar"><span class="tittle">正在进行的测试</span>
            <div class="line"></div>
        </div>
        <div style="min-height: 140px;margin:0px 20px 0px 20px;">
            <a href="/test/exam1" class="testbox">
                <div style="text-align: center;font-family: 'Microsoft Yahei UI';">exam1</div><br>
                <div style="font-size:15px;">开始时间：Jun-03-2023 15:31:50</div>
                <div style="font-size:15px;">时长限制：120分钟</div>
            </a>

            <a href="/test/exam2" class="testbox">
                <div style="text-align: center;font-family: 'Microsoft Yahei UI';">exam2</div><br>
                <div style="font-size:15px;">开始时间：Jun-03-2023 15:45:33</div>
                <div style="font-size:15px;">时长限制：60分钟</div>
            </a>

        </div>
        <div class="tittlebar"><span class="tittle">曾经参加的测试</span>
            <div class="line"></div>
        </div>
        <div style="min-height: 140px;margin:0px 20px 0px 20px;">
            <a href="/result/exam1" class="testbox">
                <div style="text-align: center;font-family: 'Microsoft Yahei UI';">exam1</div>
                <div style="font-size:15px;margin-top:10px;">答卷时间：Jun-03-2023 15:34:20</div>
                <div style="font-size:15px;">时长限制：120分钟</div>
                <div style="font-size:15px;">测试状态：已提交</div>
            </a>

            <a href="/result/exam2" class="testbox">
                <div style="text-align: center;font-family: 'Microsoft Yahei UI';">exam2</div>
                <div style="font-size:15px;margin-top:10px;">答卷时间：Jun-03-2023 15:46:46</div>
                <div style="font-size:15px;">时长限制：60分钟</div>
                <div style="font-size:15px;">测试状态：正在进行</div>
            </a>

        </div>
    </div>
</body>


</html>