<html>

<head>
    <title>Student</title>
    <link rel="stylesheet" href="/static/Stu_page.css"  />
</head>

<body class="body">
    <!-- 左侧导航栏   -->
    <div class="cbl">
        <div class="cblcenter">
            <div class="sign">
                学生主页
            </div>

            <div class="nav_con">
                <a href="#">个人信息</a>
                <a href="{{url_for('agreement')}}">报名考试</a>
                <a href="{{url_for('stu_exams')}}">我的考试</a>
                <a href="#">成绩查询</a>
            </div>

            </div>
            <div class="copyright">©2023 南开大学  软件工程</div>
        </div>
    </div>


    <div class="content">
        <!-- 动画部分 -->
        <div class="animation">
            <div class="square">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="circle">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>

        <!-- 内容板块顶部导航 -->
        <div class="topbar">
            <div id="userstatus" style="display:true;">
                <div class="greet">
                    Hi , {{username}} !
                </div>
                <div class="inputclass">
                    <form action="/login" method="get" >
                        <button class="inputbutton" type="submit">登出</button>
                    </form>
                    <form action="/student" method="get">
                        <button class="inputbutton" type="submit">个人信息</button>
                    </form>

                </div>
            </div>
<!--            <div class="spilt_line">-->

<!--            </div>-->
        </div>
        <div class="content_title">
            <h1>修改密码 :</h1>
        </div>
        <form action="/changepwd" method="post">
            <div class="info_item">
                <h1>原密码:</h1>
                <input type="password" name="oldpwd" value={{oldpwd}}>
            </div>
            <div class="info_item">
                <h1>新密码:</h1>
                <input type="password" name="newpwd" value={{newpwd}}>
            </div>
            <div class="info_item">
                <h1>确认新密码:</h1>
                <input type="password" name="newpwd1" value={{newpwd1}}>
            </div>
            <form action="/changepwd" method="post">
                <button class="commitbutton" type="submit">提交</button>
            </form>
        </form>

    </div>
</body>


</html>