<html>

<head>
    <title>Take Exam</title>
    <link rel="stylesheet" href="/static/take_exams.css" type="text/css" />
    <link rel="stylesheet" href="/static/exam.css" type="text/css" />
    <script src="/static/easyui/jquery.min.js" type="text/javascript"></script>
</head>

<body class="body">
    <div class="cbl">
        <div class="cblcenter">
            <div class="sign">
                <em>学生主页</em>
            </div>

            <div class="nav_con">
                <span class="exam-info">答题卡</span>
                <span class="exam-info">150min</span>
                <!-- TODO：剩餘時間 -->
                <a class="exam-info">答题进度</a>
                <!-- TODO：彈窗 -->
                <a class="exam-info">交卷</a>
            </div>

        </div>
        <div class="copyright">©2023 南开大学 软件工程</div>
    </div>


    <div class="content">
        <div class="square">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="circle">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="tittlebar">
            <!-- ⅡⅢⅣ -->
            <span class="part-name">Part Ⅰ &emsp; Writing</span>
            <div class="line"></div>
        </div>
        <div class="question">
            <span class="directions">Directions: </span>For this part, you are allowed 30 mimites to write an essay based on the chart below. You should start your essay with a brief description of the chart and comment on <span style="font-weight: bold;">China's achievements</span> in poverty alleviation. You should write at least <span style="text-decoration:underline;">150</span> words but no more than <span style="text-decoration:underline;">200</span> words.
            <div class="centerimg"><img src="/static/pic/question.png"></div>
        </div>
        <div class="input-area" id="input_area" style="height: auto; min-height:104px;">
            <div class="input-form">
                <textarea id="correct_input" form="sending" class="input-text"
                    placeholder="Write down some amazing sentences."></textarea>
            </div>
            <script type="text/javascript">
                var n = $("#correct_input");
                n.attr({ "data-height": n.height() });
                n.focus(function () { $("#input_area").addClass("textarea-focus") });
                n.blur(function () { $("#input_area").removeClass("textarea-focus") });
                n.on("keyup", function () {
                    var t = n.attr("data-height"),
                        e = n, i = e.parents(".input-form"), r = e.parents(".input-area");
                    i.height(t), e.height(t), r.outerHeight("auto");
                    var s;
                    s = $("#correct_input")[0].scrollHeight, $("#correct_input")[0].scrollHeight && parseInt($("#correct_input")[0].scrollHeight, 10) >= t && (i.height($("#correct_input")[0].scrollHeight), e.height(i.height()));
                    s = s >= 424 ? 424 : s;
                    i.height(s), e.height(s), r.outerHeight("auto");
                })
            </script>
        </div>
    </div>
</body>


</html>